@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

#button-conversar{
background-color: #8ec5fc;
border-radius: 50%;
padding: 15px;
position: sticky;
right: 0;
}

#chat{
height: 35px;
width: auto;
}

#container-btn{
position: absolute;
bottom: 20px;
left: 1280px;
}

.container{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
height: 100%;
background-color: #BFDFFF;  
}

h3{
font-size: 40px;

}

h1{
font-size: 20px;
}

.container button{
background-color: #2D4076;
border-radius: 15px;
width: 1200px;
height: 50px;
font-size: 25px;
color: white;
}