@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

header{
    background-color: #4a90e2;
    color: white;
    font-size: 18px;
    padding: 20px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    gap: 40px;
}
header a{
    text-decoration: none;
    color: white;
}
#pfp{
    height: 40px;
}

footer{
    position: relative;
    bottom: 0;   
    background-color: #2D4076;
    width: 100%;
    margin: 0;
}
footer .container{
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    flex-direction: column;
    gap: 20px;
}

footer #f-p1{
    text-transform: uppercase;
    letter-spacing: 2.8px;
    color: rgb(181, 181, 181);
}

footer button{
    margin: 40px 0;
    background-color: #0081fe;
    padding: 20px 44px;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
footer #f-p2{
    font-size: 50px;
}
footer .w-700{
    font-weight: 700;
}
footer hr{
    width: 100%;
    color: white;
    margin: 50px 0;
}
footer nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}
footer img{
    height: 50px;
}
footer #f-ul-2{
    margin-left: -65px;
}
footer nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

