@media (min-width:1024px){
    *{
        margin: 0;
        padding: 0;
    }

    .container{
        display: flex;
        flex-direction: column;
        min-height: 75vh;
    }

    .integrante img{
        width: 300px;
        height: 300px;
        padding-right: 20px;
    }
    .integrante{
        display: flex;
        flex-direction: row;
        margin: 40px;
        align-items: center;
        font-size: 30px;
        font-weight: 600;
    }
    .integrante a img{
        width: 80px;
        height: 80px;
    }
    .container h1{
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        text-align: center;
    }
}
