.main-sua-conta{
    min-height: 75vh;
    background-color: #3A539B;
    height: 100%;
    display: flex;
}
.section-left{
    width: 20%;
    background-color: #2a3b69;
    justify-content: center;
    
}
.section-left h3{
    text-align: center;
    padding: 30px;
    height: 10vh;
    font-weight: 700;
    border-bottom: 5px solid #192545;
    color: white;
    align-content: center;
}
.section-right{
    display: flex;
    justify-content: center;
    width: 100%;
}
.perfil{
    margin-top: 50px;
    text-align: center;
}
.perfil h2,h3{
    color: white;
    padding: 6px;
}
#foto{
    height: 150px;
}
.fs-30{
    font-size: 30px;
}
.w-700{
    font-weight: 700;
}
.w-500{
    font-weight: 500;
}
