*{
    margin: 0;
    padding: 0;
}
.red{
    background-color: #4c0519;
}
.green{
    background-color: #a3e635;
}
.blue{
    background-color: #1d4ed8;
}
.yellow{
    background-color: #ca8a04;
}

.container div{
    width: 200px;
    height: 200px;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}